# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ preprod ]
  pull_request:
    branches: [ preprod ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      env:
          DATABASE_URL: postgres://rcqasdcfxyfmhr:adfc018fb1d4ec927234c91938819e06b9d852a149c92bfa40de73ff5a91e5ce@ec2-54-220-243-77.eu-west-1.compute.amazonaws.com:5432/d64b59nnd48otr
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: backoffice/package-lock.json
    - run: cd backoffice && npm install && npm run build
